.background_canvas {
    position:absolute;
    left:0;
    top:0;
    z-index:-1;
}

body {
    background-color: rgb(24, 27, 34);
}

.page_frame {
    background-color: rgb(29, 34, 43);
    overflow: hidden;
    margin-top: 16px;
    border-radius: 8px;
    margin-left: 280px;
    margin-right: 280px;
}

.page_title {
    padding: 16px 16px;
    overflow: hidden;
}

.page_title h1 {
    font-family: 'Questrial', sans-serif;
    font-weight: 4px;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 50px;
    color: white;
}

.title_image {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 16px;
    margin-right: 16px;
    padding: 88px 16px;
    border-radius: 8px;
}

.navbar_main {
    background-color: rgb(44, 53, 70);
    overflow: hidden;
    border-radius: 8px;
    margin-top: 12px;
    margin-left: 16px;
    margin-right: 16px;
}

.navbar_main a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Questrial', sans-serif;
}

.navbar_main a:hover {
    background-color: rgb(0, 153, 255);
    color: white;
}

.navbar_main a.active {
    background-color: #0077ff;
    color: white;
}

.selected_tab {
    background-color: #445364;
    color: rgb(190, 190, 190);
}

.content {
    background-color: rgb(36, 43, 56);
    overflow: hidden;
    margin-top: 12px;
    border-radius: 8px;
    margin-left: 16px;
    margin-right: 16px;
}

.content p {
    float: left;
    color: white;
    padding: 14px 16px;
    overflow: hidden;
    font-size: 18px;
    font-family: 'Questrial', sans-serif;
}

.footer {
    background-color: rgb(40, 48, 63);
    overflow: hidden;
    margin-top: 16px;
    border-radius: 8px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
}

.footer p {
    float: left;
    color: rgb(184, 184, 184);
    margin-left: 14px;
    overflow: hidden;
    font-size: 14px;
    font-family: 'Questrial', sans-serif;
}